@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");
* {
  margin: 0;
  font-family: "Della Respira", serif;
}
* body {
  margin: 5vh auto;
  background-color: rgb(35, 104, 85);
}
* body main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  min-height: 90vh;
}
* body main #coin_case {
  background-color: bisque;
  border-radius: 15px 0 0 15px;
  max-width: 40vw;
  min-height: 70vh;
  height: 40vh;
  display: flex;
  align-items: center;
}
@keyframes toss_coin_head {
  from {
    transform: rotateY(0deg);
    content: url("../Resources/Images/head.png");
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
    content: url("../Resources/Images/tail.png");
  }
  75% {
    transform: rotateY(270deg);
  }
  to {
    transform: rotateY(360deg);
    content: url("../Resources/Images/head.png");
  }
}
@keyframes toss_coin_tail {
  from {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(180deg);
    content: url("../Resources/Images/tail.png");
  }
}
* body main #coin_case .evenNumber {
  animation-name: toss_coin_tail;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
* body main #coin_case img {
  margin: 0 auto;
  width: 80%;
  animation-duration: 2s;
  animation-iteration-count: 0;
  animation-name: toss_coin_head;
  box-shadow: inset 0px 0px 100px 80px goldenrod;
  border-radius: 50%;
  border-bottom: 5px solid black;
  max-height: 75vh;
  content: url("../Resources/Images/head.png");
}
* body main #control_case {
  background-color: bisque;
  border-radius: 0 15px 15px 0;
  width: 30vw;
  height: 70vh;
  min-height: 70vh;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 60vh;
}
* body main #control_case div {
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
* body main #control_case div input {
  border: 0;
  border-bottom: 2px solid goldenrod;
  width: 60%;
  border-radius: 25%;
  margin: 1.5vh auto;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
}
* body main #control_case #button_case {
  flex-direction: row;
  gap: 2vw;
}
* body main #control_case #button_case button {
  border-radius: 15%;
  border: 2px solid goldenrod;
  font-weight: bolder;
  border-style: outset;
  background-color: gold;
  width: 50%;
  min-width: 10vw;
  font-size: 3vw;
  height: 100%;
}
@media screen and (width < 500px) {
  * body {
    margin: 1vh auto;
    max-height: 100vh;
  }
  * body main::before {
    content: "Toss a coin";
    font-weight: bolder;
    font-size: 3.5vh;
    background-color: bisque;
    border-radius: 15px 15px 0 0;
    width: 80vw;
  }
  * body main {
    flex-direction: column;
    top: 3vh;
  }
  * body main #coin_case {
    min-width: 80vw;
    background-color: bisque;
    border-radius: 0;
    min-height: 0;
  }
  * body main #control_case {
    width: 80vw;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: auto;
    min-height: 0;
    margin-bottom: 0;
    gap: 0;
    border-radius: 0 0 15px 15px;
  }
  * body main #control_case h1 {
    display: none;
  }
  * body main #control_case div {
    width: 80%;
  }
}

/*# sourceMappingURL=styles_sass.css.map */
